.data-left {
    float: left;
    height: 100%;
    width: 14%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data-left button {
    display: block;
    width: 90%;
    height: 60px;
    background-color: rgb(36, 69, 129);
    cursor: pointer;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.data-left button:hover {
    background-color: rgb(27, 50, 94);
}

.data-right {
    float: left;
    height:100%;
    width: 86%;
}